body{
    background-color: rgba(137, 43, 226, 0.307);
}

h1{
    text-align: center;
}

select{
    display: block;
    margin: 0 auto;
}

.city{
    text-align: center;
}

footer{
    text-align: center;
    margin-top: 30px;

}